* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3e5d8;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container{
   width: 100%;
   padding: 20px;

}

.container1{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.image{
    height: auto;
    width: 100%;
    border-radius: 12px;
    display: block;
}
h1{
    font-size: 1.8rem;
    margin: 15px 0;
}

p{
    font-size: 1rem;
    color: #555;
}

.pinkcontainer{
    background-color:#fff5fa;
    padding:15px;
    border-radius: 10px;
    margin: 20px 0;
       
}

.preptxt{
    color: #7b284f;
    margin-bottom: 10px;

}

.txtdesign li {
    margin-left: 20px;
    margin-bottom: 5px;
}

@media (min-width: 786px) {
    .container{
        display: flex;
        justify-content: center;
        padding: 40px 0;
    }

    .container1{
        max-width: 720px;
        padding: 30px;
    }
    
}
.container3{
    border-collapse: collapse;
}

ul, ol{
    padding-left: 20px;
}

li{
    margin-bottom: 8px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.nutrition-table td {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.nutrition-table .value {
  font-weight: bold;
  color: #854632;
}

footer{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 30px;
}